@import "../../../scss/variables";

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    padding: .5rem;
    width: 100%;
    min-height: 40px;
    border-radius: 8px;
    cursor: pointer;
    transition: .1s;
}

.primary{
    background-color: $primary;
    color: $white;
    border: none;
}

.outline{
    background-color: transparent;
    border: 1px solid $primary;
    color: $primary;
}

.outline:hover{
    background-color: lighten($color: $primary, $amount: 50%);
}

.primary:hover{
    background-color: lighten($primary, 10);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.175);
}