<app-form-layout
  title="Bem-vindo(a) novamente"
  subtitle="Faça login para acessar seus lançamentos financeiros"
>
  <img
    src="assets/logo.jpeg"
    width="140px"
    height="140px"
    alt="Logo DebtFlow"
  />

  <form [formGroup]="loginForm" class="container-form">
    <app-custom-input
      label="E-mail"
      placeholder="Digite seu email"
      type="email"
      name="email"
      formControlName="email"
      [errorMessage]="
        loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty) ? 'Campo obrigatório' : ''
      "
    />
    <app-custom-input
      formControlName="password"
      label="Senha"
      placeholder="Digite sua senha"
      type="password"
      name="password"
      [errorMessage]="
        loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty) ? 'Campo obrigatório' : ''
      "
    />

    <div class="container-button">
      <app-custom-button [disable]="!loginForm.valid" (click)="login()"
      >Entrar</app-custom-button
    >

    <p class="text-redirect-signUp">Não tem uma conta? <a routerLink="/sign-up">Cadastre-se</a></p>
    </div>
  </form>
</app-form-layout>
