<app-header (buttonClick)="logout()" />

<section class="container">
  <div class="container-titles">
    <div>
      <h3>Lista de dívidas</h3>
      <span>{{ today | date : "dd/MM/yyyy" }}</span>
    </div>
    <app-custom-button (click)="openDialog()">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="add_circle_outline"
      ></mat-icon>
      Adicionar
    </app-custom-button>
  </div>
  <mat-divider class="divider"></mat-divider>

  <div class="container-labels">
    <p>
      <strong>Total á pagar: </strong
      >{{ totalPaid | currency : "BRL" : "symbol" : "1.2-2" }}
    </p>
    <p>
      <strong>Total pago: </strong
      >{{ totalNoPayed | currency : "BRL" : "symbol" : "1.2-2" }}
    </p>
  </div>

  <!-- Cards -->
  <div class="container-cards">
    @for (entrie of entries; track $index) {
    <app-debt-card [data]="entrie" (outputDeleteEntry)="onDeleteEntry($event)" />
    }@empty {
      <p class="empty-message">Nenhuma dívida criada</p>
    }
  </div>
</section>
