.container {
  margin-top: 30px;
  padding: 15px;
}

.container-titles {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    font-weight: 600;
    font-size: x-large;
  }

  span {
    display: block;
    color: #5b5b5b;
    margin-bottom: 10px;
  }
}

.container-labels {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.container-cards {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.empty-message{
  text-align: center;
  font-size: large;
  margin-top: 10px;
}

.select-status{
  width: 20%;
  min-width: 200px !important;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.104);
  border: 1px solid rgba(0, 0, 0, 0.2);
  min-height: 35px;
  outline: none;
  padding: 10px;
  transition: .2s;
  margin-top: 10px;
}


@media only screen and (min-width: 768px) {
  .container{
    width: 80%;
    margin: auto;
  }
}
